.main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.card{
 align-items: center;
 background-color: purple;
 color: white;
 padding: 20px;
 width: 20%;
 margin: 10px;
}
.show_product{
    display: flex;
}
.product_div{
    padding: 20px;
    border: 1px solid red;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    width: 20%;
    margin: 20px;
    text-align: center;
}