.Card_main-div{
    display: flex !important;
}
.card_div{

     background-color: blue;
     margin: 20px;
     border-radius: 10px;
     border: 1px solid white;
     width: 20%;
     color: white;
     text-align: center;
     padding: 20px;
}
.Loaddata{
   
    display: flex;
}

/* .main_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.card{
 align-items: center;
 background-color: purple;
 color: white;
 padding: 20px;
 width: 20%;
 margin: 10px;
}
.show_product{
    display: flex;
}
.product_div{
    padding: 20px;
    border: 1px solid red;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
    width: 20%;
    margin: 20px;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
} */